::-webkit-scrollbar {
  background-color: black;
  color: black;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


/* ------------------------------- CUSTOM NAV ------------------------------- */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
  padding: 0.5vw 3vw 0vw 4vw;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.logo-div {
  font-weight: 800;
  font-size: 2vw;
  align-self: flex-start;
}

.logo {
  width: 170%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4vw;
  list-style: none;
  text-decoration: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 600;
}



.active{
  font-weight: bolder;
  font-size: larger;
  border-bottom: 2px solid #000000;
  color: #000000;
}



/* ------------------------------- CUSTOMRNAV END ------------------------------- */


.custom-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

#image-container {
  display: flex;
}

#big-image {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}


.img-content {
  position: absolute;
  left: 10%;
  align-items: center;
  transform: translateX(-10%);
  color: black;
  font-weight: 1000;
  /* font-size: 1vw; */
  width: 35%;
  align-self: center;
}

.img-content button {
  padding: 0.3vw 1vw;
  width: 8vw;
  height: 2vw;
  border-radius: 10px;
  background-color: #000000;
  color: white;
  font-size: 0.8vw;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-content h2 {
  font-size: 2vw;
}

.start-now {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: #000000;
  color: white;
  font-size: 1vw;
  padding: 0.5vw 3vw;
  width: 8vw;
  height: 3vw;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}



/* ----------------------------- BINIFY BOT CSS ----------------------------- */

/* --------------------------------- MAP CSS -------------------------------- */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95%;
  margin-top: 5vw;
  padding: 1vw;
}

.inner-map-container {
  width: 60%;
  height: 100%;
}

.map-container h6{
  width: 50%;
  padding: 3% 0 0 0;
}


/* ----------------------------- VEHICLE SUPPORT ---------------------------- */
.register-vehicle{
  position: absolute;
  left: 50%;
  transform:  translateX(-50%);
  padding: 2vw;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  width: 25%;
}

#register-vehicle input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000000;
  margin: 1vw 0;
}

#register-vehicle input:focus{
  outline: none;
}

#register-vehicle button{
  background-color: black;
  color: white;
  width: 33%;
  border: none;
  border-radius: 20px;
  padding: 0 0.3vw;
  margin: auto;
  font-size: 1vw;
}