{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for ('static', filename = 'css/base.css') }}">
{% endblock %}

{% block body %}
<div id="image-container"">
    <img
      src="{{ url_for ('static', filename = 'images/bigimage.png') }}"
      alt="Big Carousel Image"
      id="big-image"
    />
    <div id="img-content" class="img-content">
      <h2>Transforming waste into a cleaner, greener future. Join us in our mission for a sustainable tomorrow</h2>
      <br>
      <!-- <button onclick="openGuide()" class="start-btn seg-guide" id="start-btn">Get Start</button> -->
      <a class="start-now seg-guide" href="/guide">Let's Begin!</a>
    </div>
</div>

{% endblock %}



{% block js %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}